/* Resets */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: blanchedalmond; */
}
html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: rgb(255, 255, 255);
}
.flex{
    display: flex;
}
.container{
    width: 100vw;
    height: 100vh;
    gap: 35px;
}
.container .box-container{
    
}
.container .box{
    /* position: relative; */
    overflow-y: hidden; 
}

.container .box1{
    padding: 0 0 0 20px;
    width: 60vw;
    height: 100vh;
    margin-left: 20px;
    z-index: 2;
}
.container .box1 .logo-label{
    margin-top: 10px;
}
.container .box1 h1{
    font-size: 4rem;
    font-family: 'Merriweather', serif;
    padding: 10px 0 5px 0;
    color: #252525;
}
.container .box1 p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    padding: 10px 0;
    margin-top: 20px;
    color: #555;
}.container .box1 .main button{
    border: none;
    /* background-color: rgb(63, 211, 107); */
    background: linear-gradient(to bottom right,#1ddebe, #07cfae, #0688c4);
    border-radius: 100px;
    color: #ffff;
    padding: 15px 40px;
    margin-top: 20px;
    font-size: 1.2rem;
}
.container .box1 .main button:hover{
    background-color: rgb(43, 163, 79);
}
.container .box2{
    width: 84vw;
    z-index: 1;
    height: 100vh;
    background: url('19199614\(1\).jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
